{% extends "head-footer.html" %}
    {% block content %}
<br>
	 <div class="text-left mt-5 ml-5">
	      <h2><u><b>Know more about <font class="text-info">Bat..!!</font>.</b></u></h2>
	 </div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Bat 1</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
    <div class="col-sm-4">
      <h3>Bat 2</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
    <div class="col-sm-4">
      <h3>Bat 3</h3>        
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Bat 4</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
    <div class="col-sm-4">
      <h3>Bat 5</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
    <div class="col-sm-4">
      <h3>Bat 6</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Bat 7</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
    <div class="col-sm-4">
      <h3>Bat 8</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
    <div class="col-sm-4">
      <h3>Bat 9</h3>
      <img src="{{ url_for('static', filename='1.jpg') }}" alt="..." class="img-thumbnail">
      <p>Write bat details...</p>
      <p>Price: Rs.550</p>
    </div>
  </div>
</div>
    {% endblock %}
