{% extends "head-footer-with-logout.html" %}
    {% block content %}
<br><br><br>
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>


<style>
.myDiv {
  margin: auto;
  width: 90%;
  padding: 10px;
  border: 5px outset red;
  background-color: white;    
  text-align: center;
}
</style>

<style>
    .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .red{ background: #ff0000; }
    .green{ background: #228B22; }
    .blue{ background: #0000ff; }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    $("#selectAction").change(function(){
      var action =$("#selectAction").val();
      $(".box").hide();
      $("."+action).show(); 
    })
})
</script>


<div class="" style="background-color:#bbb;">
<div class="myDiv">
    <div>
      <p><h2><u><b>What you wants to do?</b></u></h2></p>
        <select id="selectAction">
            <option selected>Choose Options</option>
            <option value="add">Add a new item</option>
            <option value="update">Update a item</option>
            <option value="delete">Delete a item</option>
        </select>
    </div>

<!-- Start adding new item block -->
<div class="add box">
    <div class="text-info text-left">
     <form action="/addItem" method="POST" enctype="multipart/form-data">
        <b>Item Type :</b>&emsp;&emsp;&emsp;&ensp;
        <select name="item_type" class="text-center">
            <option disabled selected>item type</option>
            <option value="bat">Bat</option>
            <option value="ball">Ball</option>
            <option value="pad">Pad</option>
        </select>
    </div>
<br>
    <div class="text-info text-left">
       <label for="fname"><b>Name:</b></label>
       <input type="textarea" id="name" name="name" required>
    </div>
<br>
    <div class="text-info text-left">
       <label for="fname"><b>Color:</b></label>
       <input type="textarea" id="color" name="color" required>
    </div>
<br>
    <div class="text-info text-left">
       <label for="fname"><b>Wieght:</b></label>
       <input type="textarea" id="wieght" name="wieght" required>
    </div>
<br>
    <div class="text-info text-left">
       <label for="fname"><b>Dimensions:</b></label>
       <input type="textarea" id="dimensions" name="dimensions" required>
    </div>
<br>
    <div class="text-info text-left">
       <label for="fname"><b>Price:</b></label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
       <input type="text" id="price" name="price" required>
    </div>
<br>
    <div class="text-info text-left">
       <label for="image"><b>Select a image:</b></label>&emsp;&emsp;
       <input type="file" id="image" name="image" required>
    </div>
      <input class="text-info text-left" type="submit" value="Add item">
</form>
</div>
<!-- End adding new item block -->

<!-- Start updating item block -->
<div class="update box text-left">
    <div class="text-info">
      <form action="/updateItem" method="POST" enctype="multipart/form-data">
        <b>Item Type:</b>&emsp;&emsp;&emsp;
        <select name="item_type" class="text-center">
            <option disabled selected>item type</option>
            <option value="bat">Bat</option>
            <option value="ball">Ball</option>
            <option value="pad">Pad</option>
        </select>
    </div>
<br>
    <div class="text-info">
       <label for="fname"><b>Updated item ID:</b></label>
       <input type="text" id="itemID" name="itemID">
    </div>
<br>
    <div class="text-info">
       <label for="fname"><b>Update detail:</b></label>&emsp;&ensp;
       <input type="text" id="itemDetials" name="itemDetials">
    </div>
<br>
    <div class="text-info">
       <label for="fname"><b>Update price:</b></label>&emsp;&ensp;
       <input type="text" id="itemPrice" name="itemPrice">
    </div>
<br>
    <div class="text-info">
       <label for="fname"><b>Update image:</b></label>&emsp;
       <input type="file" id="image" name="image">
    </div>
      <input type="submit" value="Update item">
</form>
</div>
<!-- End updating item block -->

<!-- Start delete item block -->
<div class="delete box text-left">
    <div class="text-info">
      <form action="/deleteItem" method="POST" enctype="multipart/form-data">
        <b>Item Type:</b>&ensp;&ensp;&ensp;
        <select name="item_type">
            <option disabled selected>item type</option>
            <option value="bat">Bat</option>
            <option value="ball">Ball</option>
            <option value="pad">Pad</option>
        </select>
    </div>
<br>
    <div class="text-info">
       <label for="fname"><b>Delete item ID:</b></label>
       <input type="text" id="itemID" name="itemID">
    </div>
      <input type="submit" value="Delete item">
</form>
</div>
<!-- End delete item block -->
</div>
</div>
<div class="text-red">
<p>
1. A great cover letter should convey enthusiasm for the role, demonstrate your employer knowledge, and provide details that supplement the information a hiring manager will find on your resume.<br> 
Crafting a well-written cover letter can help you stand out from the competition, making it a critical piece of the job search.<br>
Our cover letter examples help with your job application can convince employers that you’re the right person for the job.
</p>
</div>
    {% endblock %}
